# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
dist/
build/

# Секреты и конфиги
.env
krb5.conf
*.keytab
ssl.key
ssl.crt
*.pem

# Kerberos
krb5.trace.log

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
